{% load static %}

<html>
{% include 'header.html' %}
<body class="hold-transition skin-custom sidebar-mini">
<div class="wrapper">
  <header class="main-header header-flower">
    {% include 'pagehead.html' %}
  </header>
  <div class="row">
    <div class="col-md-6" id="egonet-container" style="height:860px;">
      <svg id="thegonet" width=700 height=800></svg>
    </div>
    <div class="col-md-6" id="flower-container" style="height:860px;">
      <svg id="flower" width=700 height=800></svg>
    </div>
  </div>
</div>
</body>
</html>
<script src="{% static 'js/d3.v4.min.js' %}"></script>
<script src="{% static 'js/d3-selection-multi.v1.min.js' %}"></script>
<script src="{% static 'js/d3-scale-chromatic.v1.min.js' %}"></script>
<script src="{% static 'js/flowerGraph.js' %}"></script>
<script src="{% static 'js/thEgonet.js' %}"></script>
<script>
author_data = {{ author|safe }}[0]

start_petals = 25;
start_order = "ratio";

var width = document.getElementById('flower-container').offsetWidth;

var node_info = {{ node_info| safe }};
var edge_info = {{ edge_info| safe }};
var ego_node = '{{ ego_node }}';

var viewgraph = {
  nodes: node_info,
  links: edge_info
}

var thnet = new ThinkersEgoNet("#thegonet", width, 800);
thnet.initGraph();
thnet.drawGraph(ego_node);


drawFlower("#flower", author_data, 0, width, start_petals, start_order);
</script>
