{% load static %}

<html>
{% include 'header.html' %}
<body class="hold-transition skin-custom sidebar-mini">
<div class="wrapper">
  <header class="main-header header-flower">
    {% include 'pagehead.html' %}
  </header>
  <div class="row">
    <div id="ego-info" style="position: absolute;"></div>
    <div class="col-md-12" id="egonet-container" style="height:1200px;">
      <svg id="arc" width=100% height=100%></svg>
    </div>
  </div>
</div>
</body>
</html>
<script src="{% static 'js/d3.v4.min.js' %}"></script>
<script src="{% static 'js/d3-selection-multi.v1.min.js' %}"></script>
<script src="{% static 'js/d3-scale-chromatic.v1.min.js' %}"></script>
<script src="{% static 'js/seq.js' %}"></script>
<script>
var width = document.getElementById('egonet-container').offsetWidth;

var node_info = {{ node_info| safe }};
var edge_info = {{ edge_info| safe }};
var papers_n = {{ papers_n| safe }};
var papers_e = {{ papers_e| safe }};
var ego_node = {{ ego_node| safe }};
var charts = {{ charts| safe }};

var viewgraph = {
  pub_data: charts.pub_chart,
  cite_data: charts.cite_chart,
  nodes: node_info,
  links: edge_info,
  papers_n: papers_n,
  papers_e: papers_e
}

var wikiinfo = document.getElementById("ego-info");
createInfoTable(wikiinfo);

var thnet = new ThinkersEgoNet("#arc", width, 1200);
thnet.initGraph();
thnet.drawGraph(ego_node);


function createInfoTable(wikiinfo) {
  var infodiv = document.createElement("TABLE");
  var tr = document.createElement("TR");
  var td_l = document.createElement("TD");
  var td_r = document.createElement("TD");
  var infoimg = document.createElement("IMG");
  infoimg.src = ego_node.image;
  td_l.appendChild(infoimg);

  var title = document.createElement("H4");
  title.innerHTML = ego_node.info.title;
  td_r.appendChild(title);

  for (var h in ego_node.info.basic_info) {
    var tr = document.createElement("TR");
    var thead = document.createElement("TH");
    var tdesc = document.createElement("TD");
    thead.innerHTML = h;
    tdesc.innerHTML = ego_node.info.basic_info[h];
    console.log(thead, tdesc)
    tr.appendChild(thead);
    tr.appendChild(tdesc);
    td_r.appendChild(tr);
  }
  infodiv.appendChild(td_l);
  infodiv.appendChild(td_r);


  wikiinfo.appendChild(infodiv);
}

</script>
